<div class="ui big icon black button" id="btn_menu">
    <i class="content icon"></i>
</div>

<div class="ui three column center aligned grid">
    <div class="column" id="photo_1">
        <img src="/resource/1.jpg" class="ui large rounded image" id="one">
    </div>
    <div class="column" id="time">
        <div class="ui huge header">我们已经相爱</div>
        <h1 id="data"></h1>
        <h2 id="hour"></h2>
        <h3 id="min"></h3>
        <h4 id="sec"></h4>
    </div>
    <div class="column" id="photo_2">
        <img src="/resource/2.jpg" class="ui large rounded image" id="two">
    </div>
</div>

