<div class="ui big icon black button" id="btn_menu">
    <i class="content icon"></i>
</div>

<div class="ui page grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column" style="padding: 5%">
        <div class="ui inverted segment">
            <h2>我们的第一次旅行---'厦门'</h2>
            <div class="ui five column middle aligned grid">
                <div class="column">
                    <img src="resource/XiaMeng/XM-1.jpg" id="picture" alt="第一次做飞机，看你那傻逼样，哈哈">
                </div>
                <div class="column">
                    <img src="resource/XiaMeng/XM-2.jpg" id="picture" alt="恩，样子还可以">
                </div>
                <div class="column">
                    <img src="resource/XiaMeng/XM-3.jpg" id="picture" alt="鼓浪屿上的明信片店">
                </div>
                <div class="column">
                    <img src="resource/XiaMeng/XM-4.jpg" id="picture" alt="我老婆实力卖个萌">
                </div>
                <div class="column">
                    <img src="resource/XiaMeng/XM-5.jpg" id="picture" alt="在鼓浪屿的岸边(好冷)">
                </div>
                <div class="column">
                    <img src="resource/XiaMeng/XM-6.jpg" id="picture" alt="来来来，我包养你">
                </div>
                <div class="column">
                    <img src="resource/XiaMeng/XM-7.jpg" id="picture" alt="我就是那么的诚实">
                </div>
                <div class="column">
                    <img src="resource/XiaMeng/XM-8.jpg" id="picture" alt="好基友，OK？">
                </div>
                <div class="column">
                    <img src="resource/XiaMeng/XM-9.jpg" id="picture" alt="泡了个超满意的温泉，是吗？">
                </div>
                <div class="column">
                    <img src="resource/XiaMeng/XM-10.jpg" id="picture" alt="沙滩上的心">
                </div>
                <div class="column">
                    <img src="resource/XiaMeng/XM-11.jpg" id="picture" alt="we are in 厦大">
                </div>
                <div class="column">
                    <img src="resource/XiaMeng/XM-12.jpg" id="picture" alt="在回来的火车上(这图片，第一次出现哦，嘻嘻)">
                </div>
            </div>
            <div class="ui inverted divider"></div>
            <h2>我们在杭州</h2>
            <div class="ui five column middle aligned grid">
                <div class="column">
                    <img src="resource/HanZhou/HZ-1.jpg" id="picture" alt="在南宋御街的特色桥">
                </div>
                <div class="column">
                    <img src="resource/HanZhou/HZ-2.jpg" id="picture" alt="我的天，好多柳树啊">
                </div>
                <div class="column">
                    <img src="resource/HanZhou/HZ-3.jpg" id="picture" alt="坑爹的三潭印月">
                </div>
                <div class="column">
                    <img src="resource/HanZhou/HZ-4.jpg" id="picture" alt="....这样你好白哦">
                </div>
                <div class="column">
                    <img src="resource/HanZhou/HZ-5.jpg" id="picture" alt="好喜欢这张（除了自己）">
                </div>
            </div>
            <div class="ui inverted divider"></div>
            <h2></h2>
        </div>
    </div>
    <div class="one wide column"></div>
</div>

<div class="ui inverted small modal" id="S">
    <center>
    <img src="" id="pic" width="65%">
        <p id="word" style="color: #ffffff;font-size: 22px; margin-top: 1%"></p>
    </center>
</div>