<div class="ui big icon black button" id="btn_menu">
    <i class="content icon"></i>
</div>
<div class="ui page grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column"  id="paper">
        <div class="ui segment">
            <h1 class="ui center aligned dividing header">To my dear sweetheart</h1>
            <h3 class="ui right aligned header">------from 超级爱你的我</h3>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label id="sp">首先</label>，老婆仔，这是我最近想到的，专属于我自己能力的，最最独一无
                二的浪漫的事了 ，这是一个专属你和我的网页，这大概就是一个程序员的<label id="sp">“终极
                浪漫”</label>了吧。
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                而且，你知道的啦，有时候我们的品味是不一样的（通常是我比较高一点），我觉得这网页做的还可以
                ，就不知道你的感觉怎么样了，将就将就吧\(^o^)/\(^o^)/\(^o^)/\(^o^)/\(^o^)/
            </p>
            <div class="ui divider"></div>
            <div class="ui divider"></div>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label id="sp">老婆</label>，按日子算，我们在一起<label id="sp">4年</label> 咯，按年份算都
                <label id="sp">5年</label> 了，可是我感觉还是和以前差不多，喜欢牵你的手，搂你的腰
                等等，可能心里少了刚开始时的心悸，但现在更多的是一种“情亲”---就像你是我的家人（老婆）
                <img src="resource/heart.jpg" id="heart" align="right">
                通俗的讲--我习惯了我的身边有你，就像你和我是一体的一般。
                <label style="color: #bf4d4b" id="sp">So, I Love You Dear</label>
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                老婆仔，我在写这篇文章的时候，很多我们以前高中的回忆就拼命的涌了上来
                <ul>
                    <li>第一次叫你老婆仔</li>
                    <li>第一次抱你</li>
                    <li>第一次趁你不备吻你</li>
                    <li>.......(当然还有很多第一次╰(*°▽°*)╯)</li>
                </ul>
            </p>
            <div class="ui divider"></div>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
               <label id="sp">第一年</label>,谢谢老婆你能那么宽容那时候的我，我的要求你都一一满足
                可能有些是有点过的，有些是有点快的，但非常感谢你把我想要的，都<label id="sp">
                给予</label>那时操之过急的我，5555啊。记得吗？ 那时我们的吵架主要都是因为我的错，那
                时，我们开始不久，我怕，好怕失去你，所以我会抓的很紧,很敏感，很容易吃醋.但很幸运，我们熬过来了
                <div class="ui four column middle aligned grid">
                <div class="column"><img src="resource/first_1.jpg" alt="" class="first"/></div>
                <div class="column"><img src="resource/first_2.jpg" alt="" class="first"/></div>
                <div class="column"><img src="resource/first_3.jpg" alt="" class="first"/></div>
                <div class="column"><img src="resource/first_4.jpg" alt="" class="first"/></div>
                </div>
            </p>
            <div class="ui divider"></div>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label id="sp">第二年</label>
            </p>
        </div>
    </div>
    <div class="one wide column"></div>
</div>