<div class="ui big icon black button" id="btn_menu">
    <i class="content icon"></i>
</div>
<audio src="resource/music/BG.mp3" autoplay="true" loop="loop" id="audio"></audio>
<div class="ui big icon button" id="music">
    <i class="music icon"></i>
</div>
<div class="ui page grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column"  id="paper">
        <div class="ui segment">
            <h1 class="ui center aligned dividing header">To my dear sweetheart</h1>
            <h3 class="ui right aligned header">------from 超级爱你的我</h3>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label id="sp">首先</label>，老婆仔，这是我最近想到的，专属于我自己能力的，最最独一无
                二的浪漫的事了 ，这是一个专属你和我的网页，这大概就是一个程序员的<label id="sp">“终极
                浪漫”</label>了吧。
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                而且，你知道的啦，有时候我们的品味是不一样的（通常是我比较高一点），我觉得这网页做的还可以
                ，就不知道你的感觉怎么样了，将就将就吧\(^o^)/\(^o^)/\(^o^)/\(^o^)/\(^o^)/
            </p>
            <div class="ui divider"></div>
            <div class="ui divider"></div>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label id="sp">老婆</label>，按日子算，我们在一起<label id="sp">4年</label> 咯，按年份算都
                <label id="sp">5年</label> 了，可是我感觉还是和以前差不多，喜欢牵你的手，搂你的腰
                等等，可能心里少了刚开始时的心悸，但现在更多的是一种“亲情”---就像你是我的家人（老婆）
                <img src="resource/heart.jpg" id="heart" class="ui right floated image">
                通俗的讲--我习惯了我的身边有你，就像你和我是一体的一般。
                <label style="color: #bf4d4b" id="sp">So, I Love You Dear</label>
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                老婆仔，我在写这篇文章的时候，很多我们以前高中的回忆就拼命的涌了上来
                <ul>
                    <li>第一次叫你老婆仔</li>
                    <li>第一次抱你</li>
                    <li>第一次趁你不备吻你</li>
                    <li>.......(当然还有很多第一次╰(*°▽°*)╯)</li>
                </ul>
                <h3>因为泉涌得厉害，所以，想到什么写什么，可能有点乱（必须乱的吧）</h3>
            </p>
            <div class="ui divider"></div>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
               <label id="sp">第一年</label>,谢谢老婆你能那么宽容那时候的我，我的要求你都一一满足
                可能有些是有点过的，有些是有点快的，但非常感谢你把我想要的，都<label id="sp">
                给予</label>那时操之过急的我，5555啊。记得吗？ 那时我们的吵架主要都是因为我的错，那
                时，我们开始不久，我怕，好怕失去你，所以我会抓的很紧,很敏感，很容易<label id="sp">吃醋</label>.但很幸运，我们熬过来了
                虽然的途径了健身操那次的巨大风波。不过还好，还好
                <div class="ui four column middle aligned grid">
                <div class="column"><img src="resource/first_1.jpg" alt="" class="first"/></div>
                <div class="column"><img src="resource/first_2.jpg" alt="" class="first"/></div>
                <div class="column"><img src="resource/first_3.jpg" alt="" class="first"/></div>
                <div class="column"><img src="resource/first_4.jpg" alt="" class="first"/></div>
                </div>
            </p>
            <div class="ui divider"></div>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label id="sp">第二年</label>，我们高二了，要分班了，不能随时随地见到你了，“监视”
                你有没和男生过密交往了。一开始是很害怕的，觉得一个超级大的考验要来了，加上还有健身操那
                件事，所以，你还记得吗，那时我还制定了一些“<label id="sp">规定</label>”，还要你经
                常背给我听，哈哈，现在想起来挺傻挺荒唐的。不过我觉得高二是一个挺大的转折点吧！
                <ul>
                    <li>
                        <p>
                            <label id="sp"> 学习上</label>>，我们开始了学霸模式，每天地狱式学习。现在想想都觉得十分枯燥无趣无
                            <img src="resource/second-1.jpg" align="left" class="second">
                            聊可怕，幸好有你的陪伴。如果没有你，虽然不会堕落，但总不会像现在这样，可
                            能我现在读的学校是海洋大学了。当然，如果没有你给我的<label id="sp" style="color: cornflowerblue">
                            勇气</label> ，我也没有力量去当班委吧,也没有可能拿到那些我一辈子都没试过，没
                            拿到过的名次吧。而且，那年我肛漏已经到了必须手术的地步，那时我人生中最黑暗
                            的日子之一了。术后，在家曾经痛到竟然有<label id="sp">想死</label>的想法
                            ，而且之后，一大段时间，还有垫上纸尿片和卫生巾等，吸收肠液。回到学校后，成绩
                            还一滑千丈。最后，我重新起来，你的<label id="sp" style="color: cornflowerblue">陪伴</label>和
                            <label id="sp" style="color: cornflowerblue">鼓励</label>也是一大因素
                        </p>
                    </li>
                    <li>
                        <p>
                            <label id="sp">爱情上</label>，哈哈哈哈，说到这方面肯是我得偿所愿拿到你的第一次啦。现在想起来还记得
                            <img src="resource/second-3.jpg" align="right" class="second">
                            那天我老婆仔疼得要命的模样呢(*^__^*),55555啊。嘻嘻。我记得，那一，两年是
                            <label id="sp">吵架</label> 最多的，最严重的一次是，你还说分手呢(ノಠ益ಠ)ノ彡┻━┻。那次的
                            起因，经过什么的都忘了，但还好，我们又和好了。感谢<label id="sp">神</label>
                            啊
                        </p>
                    </li>
                    <li>
                        <p>
                            <label id="sp">生活上</label>，比高一时精彩多了，可以和我老婆一起吃饭，一起上学，一起放学（<label id="sp" style="color: red">
                            SORRY</label>那时我经常在门口不耐烦的等我的爱人，还发脾气，我现在想起很后悔呢）。当然还有一个星期去
                            一次的实验楼啦。
                        </p>
                    </li>
                </ul>
            </p>
            <div class="ui divider"></div>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label id="sp">第三年</label>,哇哇哇，高三了，哈哈，记得有一段时间我们受别人的影
                响，早早地，5点多起床，超级晨读。过了一阵子，发现这不适合我们两只<label id="sp">
                猪</label>，整天没精神，而且成绩还有倒退的表现。老实讲，高三是我最开心，也是最痛苦的
                一年。留宿和你去实验楼做<label id="sp" style="color: #bf4d4b">爱做的事</label>，一起散散步，聊天啊，看看动漫
                成绩还可以，挺稳定，这一切的一切，现在想起来还是甜蜜蜜的。不用说痛苦就是那，地狱式的学习啦。
                那是我们高中阶段吵架较少的一年了，因为都不想带着情绪去学习。虽然，最后高考的结果没到预期，
                但我们现在也过得挺满意的，不是吗？（之前手机，电脑都坏了，照片少了很多，找不到那一年的了
                ╥﹏╥.../(ㄒoㄒ)/~~）
                <center><img src="resource/third.jpg"></center>
            </p>
            <div class="ui divider"></div>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label id="sp">第四年</label>,关键词就是，<label id="sp">大学</label>，和
                <label id="sp">旅游</label>。老实讲，一开始是个不少的挑战呢。因为，我们见面的
                频率只能是一个月一次了，平常也就只是讲讲微信，打十几，二十分钟的电话。不过，哈哈哈，可能
                我们已经是“<label id="sp" style="color: indianred">老夫老妻</label>”了吧。尽管
                如此，我们的感情还是依旧的深，那么的稳定，犹如，你已
                经成为了我真正的“<label id="sp" style="color: indianred">老婆</label>”,
                I Love You.嘻嘻。我好喜欢这种感觉，彼此都知道对方很重要，感情平平稳稳的发展，能专心学习的
                同时也能享受爱情的甜蜜。旅游呢，在这一年里，我们去了厦门，杭州，还有上海。哇，哇哇。
                <label id="sp">我们</label>好会玩喔，感性的说一句-----<label id="sp">
                “感谢一路上的风景，都有你的身影”</label>
                <h2>(废话不多说了，上点我挑选的图)原本打算这么讲的，不过，还是算了，把它移动到
                <label id="sp">相册</label>那一页吧</h2>
            </p>
        </div>
        <center>
            <label id="back" style="color: #ffffff; font-size: 25px">回到顶端</label>
        </center>

    </div>
    <div class="one wide column"></div>
</div>